.A{
    width: 200px;
    height: 200px;
    text-align: center;
    position:relative;
    background-color: olive;
    display: inline-block;
        
    
}
.A:hover{
    background-color: rgb(86, 84, 84);
    transition:3s;
}
.B{
    width: 200px;
    height:200px;
    text-align: center;
    background-color: aquamarine;
    position:relative;
    margin-left: 100px;
    display: inline-block;
}
.B:hover{
    background-color: rgb(240, 240, 238);
    transition:3s;
}
.C{
    width:200px;
    height:200px;
    text-align: center;
    background-color: rgba(173, 58, 173, 0.889);
    position:relative;
    margin-left:50px;
    
}
.C:hover{
    background-color: rgb(75, 148, 199);
    transition: 3s;
}
.D{
    width:200px;
    height: 200px;
    text-align: center;
    background-color: rgb(91, 91, 187);
    display:inline-block;
    position:relative;
}
.D:hover{
    background-color: thistle;
    transition:3s;
}
.E{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color:plum;
    position:relative;
    margin-left: 100px;
    display:inline-block;
    
}
.E:hover{
    background-color: silver;
    transition: 3s;
}
body{
    background-image: url(images/PHOTOGRAPHING2.JPG);
}
